.button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
}
